.mainHeaderContainer {
    /* padding-top: 1rem;
    padding-right: 1rem; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectName {
    position: absolute;
}

.actionButtonsContainer {
    display: flex;
    margin-left: auto;
    gap: .3rem;
}

.actionButton {
    all: unset
}