:root {
  color-scheme: dark;
  --primary-bg-color: #1A1A1A;
  --secondary-bg-color: ;

  --border-color: #999;

  --font-primary-color: #999;
  --font-secondary-color: #999;
  --font-accent-color: #999;

  --active-color: #FF6F61;
}

[data-theme="light"] {
  color-scheme: light;
  --primary-bg-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-bg-color);
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.ProseMirror:focus {
  outline: none;
}