.listContainer {
  min-width: 18rem;
  max-width: 18rem;
  height: 30rem;
  border: 1px solid var(--border-color);
  border-radius: .4rem;
  padding: .4rem;
}

.listContainer:first-child {
  margin-left: auto;
}

.listContainer:last-child {
  margin-right: auto;
}

.headingContainer {
  padding-bottom: 1rem;
}

.headingContainer button {
  all: unset;
  display: flex;
  align-items: center;
}

.headingContent {
  display: flex;
  justify-content: space-between;
}

.headingContent input {
  all: unset;
  padding-top: .2rem;
  background-color: var(--primary-bg-color);
  font-size: 1rem;
  font-weight: 700;
  min-height: 1rem;
  max-height: 1rem;

}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
  overflow-y: auto;
}

.addTask {
  min-height: 2rem;
  border-radius: 0.4rem;
  padding: .4rem;
  border: 1px solid var(--ui-accent-1);
  /* box-shadow: 0 0 5px rgba(76, 86, 106, 1); */
}