.directory {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.childrenContainer {
    display: flex;
}

.guideLine {
    min-width: .06rem;
    background-color: var(--primary-border-color);
    margin-left: .4rem;
}

.children {
    padding-left: .8rem;
}