.fileTreeContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: .8rem;
}

.addButton {
    cursor: pointer;
    padding: .2rem;
    border-radius: .2rem;
}

.addButton:hover {
    background-color: var(--active-color);
}


.workspaceHeading {
    font-size: 1.2rem;
}