.menuContainer {
    visibility: hidden;
    position: fixed;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 1rem;
    z-index: 999;
}

.active {
    visibility: visible;
}

.buttons {
    all: unset;
    display: block;
    border-radius: .4rem;
    padding: .2rem;
    width: 100%;
}

.buttons:hover {
    background-color: var(--ui-accent-1);
}

.nameField {
    all: unset;
    background-color: var(--primary-bg-color);
    padding: .2rem;
    max-height: 1.5rem;
    min-height: 1.5rem;
    border-radius: .4rem;
    width: 8rem;
}