.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 2.4rem;
    min-width: 2.4rem;
    border-right: .1rem solid var(--border-color)
}


.settings,
.sidebarButton {
    all: unset;
    cursor: pointer;
}